
<p><b>{{ feature.data.title }}</b>: {{ feature.data.description }}</p>

{% macro support_stats(feat, browser_map, flags) %}
    {% for browser_id, name in browser_map.iteritems() %}
        <td>
            {% set min_version, notes = feat.get_min_support_by_flags(browser_id, flags) %}
            {% if min_version %}
                {% for note in notes %}
                    [{{ note.index }}]
                {% endfor %}
                 v{{ min_version }}
                <b>+</b>
            {% else %}
                &#x2610
            {% endif %}
        </td>
        {% if not loop.last %}
            <td>&nbsp;|&nbsp;</td>
        {% endif %}
    {% endfor %}
{% endmacro %}

<table>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;|&nbsp;</td>
        {% for id, name in browser_map.iteritems() %}
            <td><b>{{ name }}</b></td>
            {% if not loop.last %}
                <td>&nbsp;|&nbsp;</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Support&nbsp;</th>
        <td>&nbsp;|&nbsp;</td>
        {{ support_stats(feature, browser_map, ['y']) }}
    </tr>
    <tr>
        <th>&nbsp;Partial Support&nbsp;</th>
        <td>&nbsp;|&nbsp;</td>
        {{ support_stats(feature, browser_map, ['y x', 'a', 'a x']) }}
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;Not Supported&nbsp;</th>
        <td>&nbsp;|&nbsp;</td>
        {{ support_stats(feature, browser_map, ['n', 'p']) }}
    </tr>
</table>
<br>
<ul>
    {% set partial_notes = feature.get_relevant_notes(browser_map.keys(), ['y x', 'a', 'a x']) %}
    {% for note in partial_notes|sort(attribute='index') %}
        <li>
            {% set text = note.text %}
            {% if note.index %}
               {% set text = '[' ~ note.index ~ ']' ~ text %}
            {% endif %}{{ text|markdown }}
        </li>
    {% endfor %}
     {% for link in feature.data.links[:3] %}
        <li><a href="{{ link.url }}">{{ link.title }}: {{ link.url }}</a></li>
    {% endfor %}
</ul>
