
{% set browser_ids = browser_map.keys() %}
{% set supported_flags = ['y'] %}
{% set partial_flags = ['y x', 'a', 'a x'] %}
{% set no_support_flags = ['n', 'p'] %}

<p><b>{{ feature.data.title }}</b>: {{ feature.data.description }}</p>

{% macro support_stats(feat, browser_map, flags) %}
    {% for browser_id, name in browser_map.iteritems() %}
        <td>
            {% set min_version, notes = feat.get_min_support_by_flags(browser_id, flags) %}
            {% if min_version %}
                {% for note in notes %}
                    [{{ note.index }}]
                {% endfor %}
                 v{{ min_version }}
                <b>+</b>
            {% else %}
                &nbsp;&nbsp;&nbsp;&#x2610
            {% endif %}
        </td>
        {% if not loop.last %}
            <td>&nbsp;|&nbsp;</td>
        {% endif %}
    {% endfor %}
{% endmacro %}

<table>
    <tr>
        <td>&nbsp;</td>
        {% for id in browser_ids %}
            <td><b>{{ browser_map[id] }}</b></td>
            {% if not loop.last %}
                <td>&nbsp;|&nbsp;</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full Support&nbsp;&nbsp;</th>
        {{ support_stats(feature, browser_map, supported_flags) }}
    </tr>
    <tr>
        <th>&nbsp;Partial Support&nbsp;&nbsp;</th>
        {{ support_stats(feature, browser_map, partial_flags) }}
    </tr>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;Not Supported&nbsp;&nbsp;</th>
        {{ support_stats(feature, browser_map, no_support_flags) }}
    </tr>
</table>
<br>
<ul>
    {% set all_flags = [supported_flags , no_support_flags , partial_flags]  %}
    {% set notes = feature.get_relevant_notes(browser_ids, all_flags) %}
    {% for note in notes|sort(attribute='index') %}
        <li>
            {% set text = note.text %}
            {% if note.index %}
               {% set text = '[' ~ note.index ~ ']' ~ text %}
            {% endif %}{{ text|markdown }}
        </li>
    {% endfor %}
     {% for link in feature.data.links[:3] %}
        <li><a href="{{ link.url }}">{{ link.title }}: {{ link.url }}</a></li>
    {% endfor %}
</ul>
