{% extends "base_layout.html" %}
{% block page_content %}

    <div class="fnt--dark-gray txt--center p2">
        <header class="measure bg--off-white p2">
            <h1 class="h2">Can I Use? API</h1>
            {% if token and user %}
                <h2 class="h4">You are Logged In as <span class="fnt--red">{{ user.email }}</span></h2>
                <p>Your token is: <span class="fnt--mid-gray">{{ token }}</span></p>
                <a class="btn--red" href="{{ url_for('main_blueprint.logout') }}">Logout</a>

            {% else %}
                 <p>
                    Login to <span class="fnt--red">Google +</span> in order to get an api token.
                    This is to make sure you're not some kind of robot.
                </p>
                <a class="btn--red" href="{{ url_for('google_auth.get_token') }}">Login to Google +</a>
            {% endif %}
            <a class="btn--gray" href="{{ url_for('main_blueprint.index') }}">Back to The Docs</a>
        </header>
    </div>

{% endblock %}
