{% extends "base_layout.html" %}
{% block page_content %}
    <div class="p2">
         <header class="measure p2  fnt--mid-gray bg--off-white txt--center">
            <h1 class="h2">CanIUseBot for Hipchat</h1>
            <p>Copy this page's url as the endpoint for your room's integration hook.</p>
            <p>
                See
                <a href="https://blog.hipchat.com/2015/02/11/build-your-own-integration-with-hipchat/" target="_blank">
                    Build Your Own Integration with HipChat
                </a>
                for more information.
            </p>
            <a class="btn--gray" href="{{ url_for('main_blueprint.index') }}">Back to the docs</a>
        </header>
    </div>
{% endblock %}